## Парсинг данных с json файла

### Подключение библиотек

In [247]:
from pathlib import Path
import pandas as pd
import io
import glob
import json

### Получение информаций

#### Инициализация списков для храниения данных

In [251]:
result_list = {"nameCompany": [], "info": [], "text": [], "date": [], "rate": [], "views": []}

#### Считываем JSON-файлы

In [254]:
dir_json_files = glob.glob("/Users/ruslanhudakov/Downloads/Data 2/*")

In [256]:
len(dir_json_files)

14

In [258]:
dir_json_files

['/Users/ruslanhudakov/Downloads/Data 2/Гэллэри Сервис.json',
 '/Users/ruslanhudakov/Downloads/Data 2/ESforce Holding.json',
 '/Users/ruslanhudakov/Downloads/Data 2/skillbox.json',
 '/Users/ruslanhudakov/Downloads/Data 2/Goose Gaming.json',
 '/Users/ruslanhudakov/Downloads/Data 2/Промобот.json',
 '/Users/ruslanhudakov/Downloads/Data 2/Здоровье.ру.json',
 '/Users/ruslanhudakov/Downloads/Data 2/Студия Артемия Лебедева.json',
 '/Users/ruslanhudakov/Downloads/Data 2/Федерация креативных индустрий.json',
 '/Users/ruslanhudakov/Downloads/Data 2/Vinci Agency.json',
 '/Users/ruslanhudakov/Downloads/Data 2/Gett.json',
 '/Users/ruslanhudakov/Downloads/Data 2/Cybersport.Metaratings.json',
 '/Users/ruslanhudakov/Downloads/Data 2/Иннотех.json',
 '/Users/ruslanhudakov/Downloads/Data 2/Проект по использованию технологий компьютерного зрения на базе искусственного интеллекта для анализа медицинских изображений.json',
 '/Users/ruslanhudakov/Downloads/Data 2/MMA.Metaratings.json']

### Алгоритм

In [261]:
def parsing_json(url):
    data = {"nameCompany": [], "info": [], "text": [], "date": [], "rate": [], "views": [],
            }
    
    with open(url, 'r', encoding='utf8') as file:
        data_test = json.load(file)

        data_mini = { "nameCompany": [], "info": [], "text": [], "date": [], "rate": [], "views": []}
    
        data_mini['info'] = data_test['info']
        data_mini['nameCompany'] = Path(url).stem
        
        for content_all in data_test['refs']:
            if content_all is None:
                data_mini['text'] = "None"
                data_mini['date'] = "None"
                data_mini['rate'] = "None"
                data_mini['views'] = "None"
            else:
                data_mini['text'] = content_all[0]
                data_mini['date'] = content_all[1]['day'] + " " + content_all[1]['month'] + " " + content_all[1]['time']
                data_mini['rate'] = content_all[2]['rate']
                data_mini['views'] = content_all[2]['views']

            for labels in data:
                data[labels].append(data_mini[labels]) 

    return dataa

In [263]:
file_name = 'parsing_data_json.csv'
df = pd.DataFrame(data=result_list)

for link in dir_json_files:
    data = parsing_json(link)
    dataset = pd.DataFrame(data=data)
    dataset.to_csv(file_name)
    df = pd.concat([df, dataset])   

df = df.reset_index(drop=True)

In [265]:
df.head(10)

,nameCompany,info,text,date,rate,views
0,Гэллэри Сервис,None,7 декабря состоялась церемония награждения лау...,8 декабря 09:30,6.0,2300.0
1,Гэллэри Сервис,None,"Согласно информации издания «РБК», 24 марта 20...",24 марта 14:30,10.0,5900.0
2,Гэллэри Сервис,None,3 июня в Москве прошёл myDribbble Meetup 2017....,31 мая 14:37,21.0,1600.0
3,Гэллэри Сервис,None,Дайджест собирает свежие статьи по дизайну инт...,7 мая 16:09,24.0,5400.0
4,Гэллэри Сервис,None,"По статистике, из более чем 7000 государственн...",23 декабря 03:06,16.0,8900.0
5,Гэллэри Сервис,None,"Привет, Хабр! Сегодня мы решили поделиться с с...",12 октября 14:09,19.0,9300.0
6,Гэллэри Сервис,None,Уже шесть лет я публикую регулярные обзоры све...,3 октября 11:56,39.0,7700.0
7,Гэллэри Сервис,None,Уже шесть лет я публикую регулярные обзоры све...,7 сентября 12:57,29.0,8400.0
8,Гэллэри Сервис,None,Генеральный директор студии lab.AG Артём Гелле...,31 августа 14:27,54.0,31000.0
9,Гэллэри Сервис,None,16 апреля приглашаем участников на Весеннюю UX...,4 апреля 16:28,12.0,3200.0

In [267]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1116 entries, 0 to 1115
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nameCompany  1116 non-null   object
 1   info         293 non-null    object
 2   text         1116 non-null   object
 3   date         1116 non-null   object
 4   rate         1116 non-null   object
 5   views        1116 non-null   object
dtypes: object(6)
memory usage: 52.4+ KB

In [269]:
df = df[~(df['text'] == "None") & ~(df['date'] == "None") & ~(df['rate'] == "None") & ~(df['views'] == "None")]

In [271]:
df.head()

,nameCompany,info,text,date,rate,views
0,Гэллэри Сервис,None,7 декабря состоялась церемония награждения лау...,8 декабря 09:30,6.0,2300.0
1,Гэллэри Сервис,None,"Согласно информации издания «РБК», 24 марта 20...",24 марта 14:30,10.0,5900.0
2,Гэллэри Сервис,None,3 июня в Москве прошёл myDribbble Meetup 2017....,31 мая 14:37,21.0,1600.0
3,Гэллэри Сервис,None,Дайджест собирает свежие статьи по дизайну инт...,7 мая 16:09,24.0,5400.0
4,Гэллэри Сервис,None,"По статистике, из более чем 7000 государственн...",23 декабря 03:06,16.0,8900.0

In [273]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1112 entries, 0 to 1115
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nameCompany  1112 non-null   object
 1   info         293 non-null    object
 2   text         1112 non-null   object
 3   date         1112 non-null   object
 4   rate         1112 non-null   object
 5   views        1112 non-null   object
dtypes: object(6)
memory usage: 60.8+ KB

In [275]:
df['nameCompany'].unique()

array(['Гэллэри Сервис', 'ESforce Holding', 'skillbox', 'Goose Gaming',
       'Промобот', 'Здоровье.ру', 'Студия Артемия Лебедева',
       'Федерация креативных индустрий', 'Vinci Agency', 'Gett',
       'Cybersport.Metaratings', 'Иннотех',
       'Проект по использованию технологий компьютерного зрения на базе искусственного интеллекта для анализа медицинских изображений'],
      dtype=object)

In [277]:
company_descriptions = {
    'Cybersport.Metaratings': 'Киберспортивное медиа и аналитическая платформа',
    'ESforce Holding': 'Крупнейший холдинг в сфере киберспорта и игровой индустрии',
    'Gett': 'Сервис онлайн-заказа такси и логистических услуг',
    'Goose Gaming': 'Организатор киберспортивных турниров и ивентов',
    'skillbox': 'Онлайн-университет профессий в digital-сфере',
    'Vinci Agency': 'Креативное digital-агентство',
    'Гэллэри Сервис': 'Провайдер IT-решений для бизнеса',
    'Здоровье.ру': 'Онлайн-сервис для управления здоровьем и записи к врачам',
    'Иннотех': 'Компания, разрабатывающая инновационные технологические решения',
    'Проект по использованию технологий компьютерного зрения на базе искусственного интеллекта для анализа медицинских изображений': 'Медицинский ИИ-проект для анализа снимков',
    'Промобот': 'Производитель сервисных роботов',
    'Студия Артемия Лебедева': 'Дизайн-студия и креативное агентство',
    'Федерация креативных индустрий': 'Объединение профессионалов креативных индустрий'
}

df['info'] = df['nameCompany'].map(company_descriptions)

In [279]:
df['views'] = df['views'].astype(int)

In [281]:
df.head(10)

,nameCompany,info,text,date,rate,views
0,Гэллэри Сервис,Провайдер IT-решений для бизнеса,7 декабря состоялась церемония награждения лау...,8 декабря 09:30,6.0,2300
1,Гэллэри Сервис,Провайдер IT-решений для бизнеса,"Согласно информации издания «РБК», 24 марта 20...",24 марта 14:30,10.0,5900
2,Гэллэри Сервис,Провайдер IT-решений для бизнеса,3 июня в Москве прошёл myDribbble Meetup 2017....,31 мая 14:37,21.0,1600
3,Гэллэри Сервис,Провайдер IT-решений для бизнеса,Дайджест собирает свежие статьи по дизайну инт...,7 мая 16:09,24.0,5400
4,Гэллэри Сервис,Провайдер IT-решений для бизнеса,"По статистике, из более чем 7000 государственн...",23 декабря 03:06,16.0,8900
5,Гэллэри Сервис,Провайдер IT-решений для бизнеса,"Привет, Хабр! Сегодня мы решили поделиться с с...",12 октября 14:09,19.0,9300
6,Гэллэри Сервис,Провайдер IT-решений для бизнеса,Уже шесть лет я публикую регулярные обзоры све...,3 октября 11:56,39.0,7700
7,Гэллэри Сервис,Провайдер IT-решений для бизнеса,Уже шесть лет я публикую регулярные обзоры све...,7 сентября 12:57,29.0,8400
8,Гэллэри Сервис,Провайдер IT-решений для бизнеса,Генеральный директор студии lab.AG Артём Гелле...,31 августа 14:27,54.0,31000
9,Гэллэри Сервис,Провайдер IT-решений для бизнеса,16 апреля приглашаем участников на Весеннюю UX...,4 апреля 16:28,12.0,3200